<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-white rounded" aria-label="Eleventh navbar example">
    <div class="container">
      <a class="navbar-brand" href="/"><span class="bg-gradient-purple">Boo</span>kie</a>
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse" id="navbarsExample09">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
        <div class="text-end">
          <ul class="navbar-nav mb-2 mb-lg-0">
            <% if(!session.user) { %>
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
              </li>
              <% } else { %>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <%= session.user.name %>
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="/profile">Profile</a></li>
                    <li><a class="dropdown-item" href="/favorite">Favorite</a></li>
                    <li><a class="dropdown-item" href="/followed">Followed</a></li>
                    <li><a class="dropdown-item" href="/payments">Payments</a></li>
                    <% if(session.user.level==1) { %>
                      <li><a class="dropdown-item" href="/my_articles">I miei articoli</a></li>
                      <li><a class="dropdown-item" href="/my_episodes">I miei episodi</a></li>
                      <% } %>
                        <li>
                          <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/logout">Logout</a></li>
                  </ul>
                </li>
                <% } %>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>